CONEXION A LA BASE DE DATOS

In [30]:
from pymongo import MongoClient

In [31]:
client = MongoClient("mongodb+srv://abc123:adminadmin123@cluster0.gklplt2.mongodb.net/?retryWrites=true&w=majority")

In [69]:
db = client["Facturacion"]

collectionPayments = db["payments"]
collectionChargebacks = db["chargebacks"]

IMPORTAR DATA

In [33]:
import pandas as pd
from os import listdir
import json

In [126]:
def extract_dataframe_of_directory(path, header = [], delimiter = ';', cols_dates = []):
    data = pd.DataFrame()

    for archivo in listdir(path):
        data = pd.concat([data, pd.read_csv(path + archivo, delimiter=delimiter, names=header)], ignore_index=True)

    return data

In [127]:
path_chargebacks = "./data/chargebacks/"
header_chargebacks = ['chargebacks_id',
                        'payment_date',
                        'notification_date',
                        'debit_date',
                        'currency_code',
                        'token_customer',
                        'amount',
                        'is_fraud']
                        
dtypes_chargebacks = ['int',
                        'str',
                        'str',
                        'str',
                        'str',
                        'str',
                        'float',
                        'bool']

dates_chargebacks = ['payment_date',
                    'notification_date',
                    'debit_date']                   

data_chargebacks = extract_dataframe_of_directory(path_chargebacks, header=header_chargebacks, cols_dates=dates_chargebacks)

In [130]:
data_chargebacks['is_fraud'].replace('t', True,inplace=True)
data_chargebacks['is_fraud'].replace('f', False,inplace=True)

In [129]:
data_chargebacks.head()

,chargebacks_id,payment_date,notification_date,debit_date,currency_code,token_customer,amount,is_fraud
0,301,20220131,20220208,20220301,BRL,988d2bbeb4d6372af111788c72ef33dd,102106.0,True
1,302,20220201,20220328,20220427,UYP,b8245c66a6243a05c2d3a2742491054c,22222.0,True
2,303,20220209,20220224,20220318,BRL,0a5bf42b66e0757ef11fc98a05466293,71713.0,True
3,304,20220221,20220316,20220406,ARS,042490ffca56e11cf969867a3e1ddf52,14768000.0,True
4,305,20220212,20220318,20220427,UYP,c94c0337d0d773fae332bd2afde51861,22905.0,True

In [131]:
data_json = json.loads(data_chargebacks.to_json(orient='records'))

In [132]:
collectionChargebacks.insert_many(data_json)

In [67]:
path_payments = "./data/payments/"


header_payments = [
'payment_id',
'currency_code',
'gateway_code',
'payment_method',
'payment_date',
'token_customer',
'is_credit',
'is_debit',
'amount']

data_payments = extract_dataframe_of_directory(path_payments, header=header_payments)

In [142]:
data_json = json.loads(data_payments.sample(1000000).to_json(orient='records'))

In [141]:
data_payments.sample(1000000)

,payment_id,currency_code,gateway_code,payment_method,payment_date,token_customer,is_credit,is_debit,amount
6016973,220221,ARS,PAYMENT,CASH,20211012,f30eecc8dc7eb10e3c3b1c8d0fcd4493,t,f,10083227.0
5747735,5120960,UYP,PAYMENT,CASH,20220329,0ed431eb45932915732d1448f4e63597,t,f,28805.0
2157437,3737365,UYP,WALLET,BONO,20211103,2319f2eff1a757349f3d70373bad64b0,t,f,29600.0
4389486,905648,BRL,PAYMENT,CASH,20211229,921b3b180df739cff53dc8ff886ae643,t,f,17660.0
2203427,4114997,BRL,PAYMENT,CASH,20211228,02979438e71f6621891e227059cf2da9,t,f,60861.0
...,...,...,...,...,...,...,...,...,...
2466885,6326121,BRL,WALLET,BONO,20220709,3feace2e603ed36f00d025b148943624,t,f,4500.0
569646,4754759,ARS,PAYMENT,CASH,20220224,79d1de97bf234d597d00741fe421c390,t,f,23601696.0
6432586,3710652,UYP,WALLET,BONO,20220912,80b6b43dda5d0b423b2e751e4730a36a,t,f,10000.0
5327109,1580119,BRL,PAYMENT,CASH,20220309,be9ad53cdf2dcd78926f737d8807f6b2,t,f,8886.0
6083683,764251,BRL,WALLET,BONO,20211213,02c4ff01cd11f0dd52ffdd7100ff7470,t,f,3000.0

In [143]:
collectionPayments.insert_many(data_json)